html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    padding:0;
    margin:0;
    font-family: 'Public Sans', sans-serif;
    color:$white;
    background-color: $VeryDarkBlue;
}

.container{
    width: 80%;
    // max-width: 375px;
    margin:0 auto;

    &--py{
        padding-top:4.375rem;;
        padding-bottom:4.375rem;
    }

    a{
        text-decoration:none;
        color:$PaleBlue;
    }

    .active{
        color:$white;
    }


}

