.section{

    width:92%;
    max-width:500px;
    margin: 0 auto;

    @include breakpoint-up(large){
        width:100%;
        // max-width:2440px;
        // max-width:500px;
        // margin: 0 auto;
    }

    .container{   
        @include breakpoint-up(large){
       
        padding:150px;
        display:grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-gap: 0.5rem;
        align-items:start;
        justify-content:center;


        grid-template-areas: 'profile card1 card2 card3 '
        'profile card4 card5 card6';
        }
    }

    &__card{
        background: $darkBlue; 
        border-radius: 30px;
        

        @include breakpoint-up(large){
            grid-area:profile;
            margin-top:20px;
            border-radius: 10px;
        }

        .detail{
            display: flex; 
            align-items: center;
            
            padding:2rem;
            background: $blue;
            border-radius: 20px;

            @include breakpoint-up(large){
                padding:4rem 2.9rem;
                display:block;
                
            }


            >div{
                margin-right: 20px;
            }
            
          
            .image{
                border: 3px #fff solid;
                border-radius: 50%;
                width: 30%;
                height:30%;

                @include breakpoint-up(large){
                    width: 60%;
                    
                }
    
                
            }

            .info{
                color:$white;
                font-family: monospace;
                margin-left: 20px;

                @include breakpoint-up(large){
                    margin-left: 0;
                    margin-top:10px;
                }

                > div:first-child{
                    color: $PaleBlue;
                    font-size: 12px;
                    margin-bottom: 7px;

                    @include breakpoint-up(large){
                        font-size: 12px;
                    }
                }

                > div:last-child{
                    font-size: 17px;

                    @include breakpoint-up(large){
                        font-size: 25px;
                    }
                }
            
            
            }
        }

        .menu{
            padding: 1.55rem;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            font-family: monospace;
            font-size: 15px;

            
            @include breakpoint-up(large){
                display:inline;
                font-size: 20px;
                
            }
            
            div{
              margin-left: 0.4rem;
              
            @include breakpoint-up(large){
                margin-top:10px;
                font-size: 11px;

            }

            }

            > div:first-child{
                color: $PaleBlue;
            }

            > div:nth-child(2){
                color: $white
            }

            > div:last-child{
                color: $PaleBlue;
            }
            
        }
    }

    &__card1{

       margin-top: 20px;
       background:$lightRedWork;
       border-radius: 17px;


       @include breakpoint-up(large){
        grid-area:card1;
        
    }
    
        .image{
            
            background-image: url(/images/icon-work.svg);
            height:2.8125rem;
            background-repeat: no-repeat;
            background-position: left 93% bottom -1.5rem;

            @include breakpoint-up(large){
                height:2.1125rem;
            }

        }

        .detail{
            background: $darkBlue;
            border-radius: 15px;
            padding: 2rem 3rem;
            font-family: monospace;
            font-size: 15px;
            font-weight: 500;

            @include breakpoint-up(large){
                padding: 2rem 4.5rem;
             }
 

            .work{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include breakpoint-up(large){
                    margin-bottom:20px;
                }
                


                > div:first-child{
                    font-size: 20px;
                    font-weight: bolder;
                    margin-left: -35px;

                    @include breakpoint-up(large){
                        font-size: 15px;
                        font-weight:200;  
                    }
                }

                >div:last-child{
                    margin-right: -45px;
                }

            }

            .hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @include breakpoint-up(large){
                    display:inline;
                }
                

                >div:first-child{
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: -35px;
                }

                >div:last-child{
                    margin-right: -45px;
                    color:$PaleBlue;

                    @include breakpoint-up(large){
                       font-size:10px;
                       margin-left:-35px;
                       margin-top:10px;
                    }
                
                    
                }

            }

        }
        
    }

    &__card2{

        margin-top: 20px;
        background:$softBlue;
        border-radius: 17px;


        @include breakpoint-up(large){
            grid-area:card2;
        }
 
         
         .image{
             
             background-image: url(/images/icon-play.svg);
             height:2.8125rem;
             background-repeat: no-repeat;
             background-position: left 93% bottom -1.5rem;

             @include breakpoint-up(large){
                height:2.1125rem;
            }
 
         }
 
         .detail{
            background: $darkBlue;
            border-radius: 15px;
            padding: 2rem 3rem;
            font-family: monospace;
            font-size: 15px;
            font-weight: 500;

            @include breakpoint-up(large){
                padding: 2rem 4.5rem;
             }
 

            .work{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include breakpoint-up(large){
                    margin-bottom:20px;
                }
                


                > div:first-child{
                    font-size: 20px;
                    font-weight: bolder;
                    margin-left: -35px;

                    @include breakpoint-up(large){
                        font-size: 15px;
                        font-weight:200;  
                    }
                }

                >div:last-child{
                    margin-right: -45px;
                }

            }

            .hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @include breakpoint-up(large){
                    display:inline;
                }
                

                >div:first-child{
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: -35px;
                }

                >div:last-child{
                    margin-right: -45px;
                    color:$PaleBlue;

                    @include breakpoint-up(large){
                       font-size:10px;
                       margin-left:-35px;
                       margin-top:10px;
                    }
                
                    
                }

            }

        }
         
     }

     &__card3{

        margin-top: 20px;
        background:$lightRed;
        border-radius: 17px;


        @include breakpoint-up(large){
            grid-area:card3;
        }
 
         
         .image{
             
             background-image: url(/images/icon-study.svg);
             height:2.8125rem;
             background-repeat: no-repeat;
             background-position: left 93% bottom -1.5rem;

             @include breakpoint-up(large){
                height:2.1125rem;
            }
 
         }
 
         .detail{
            background: $darkBlue;
            border-radius: 15px;
            padding: 2rem 3rem;
            font-family: monospace;
            font-size: 15px;
            font-weight: 500;

            @include breakpoint-up(large){
                padding: 2rem 4.5rem;
             }
 

            .work{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include breakpoint-up(large){
                    margin-bottom:20px;
                }
                


                > div:first-child{
                    font-size: 20px;
                    font-weight: bolder;
                    margin-left: -35px;

                    @include breakpoint-up(large){
                        font-size: 15px;
                        font-weight:200;  
                    }
                }

                >div:last-child{
                    margin-right: -45px;
                }

            }

            .hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @include breakpoint-up(large){
                    display:inline;
                }
                

                >div:first-child{
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: -35px;
                }

                >div:last-child{
                    margin-right: -45px;
                    color:$PaleBlue;

                    @include breakpoint-up(large){
                       font-size:10px;
                       margin-left:-35px;
                       margin-top:10px;
                    }
                
                    
                }

            }

        }
         
     }

     &__card4{

        margin-top: 20px;
        background:$limeGreen;
        border-radius: 17px;


            @include breakpoint-up(large){
                grid-area:card4;
            }
 
         
         .image{
             
             background-image: url(/images/icon-exercise.svg);
             height:2.7125rem;
             background-repeat: no-repeat;
             background-position: left 93% bottom -0.65rem;

             @include breakpoint-up(large){
                height:2.1125rem;
            }
 
         }
 
         .detail{
            background: $darkBlue;
            border-radius: 15px;
            padding: 2rem 3rem;
            font-family: monospace;
            font-size: 15px;
            font-weight: 500;

            @include breakpoint-up(large){
                padding: 2rem 4.5rem;
             }
 

            .work{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include breakpoint-up(large){
                    margin-bottom:20px;
                }
                


                > div:first-child{
                    font-size: 20px;
                    font-weight: bolder;
                    margin-left: -35px;

                    @include breakpoint-up(large){
                        font-size: 15px;
                        font-weight:200;  
                    }
                }

                >div:last-child{
                    margin-right: -45px;
                }

            }

            .hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @include breakpoint-up(large){
                    display:inline;
                }
                

                >div:first-child{
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: -35px;
                }

                >div:last-child{
                    margin-right: -45px;
                    color:$PaleBlue;

                    @include breakpoint-up(large){
                       font-size:10px;
                       margin-left:-35px;
                       margin-top:10px;
                    }
                
                    
                }

            }

        }
         
     }

     &__card5{

        margin-top: 20px;
        background:$violet;
        border-radius: 17px;


        @include breakpoint-up(large){
            grid-area:card5;
        }
         
         .image{
             
             background-image: url(/images/icon-social.svg);
             height:2.7125rem;
             background-repeat: no-repeat;
             background-position: left 93% bottom -1.5rem;

             @include breakpoint-up(large){
                height:2.1125rem;
            }
 
         }
 
         .detail{
            background: $darkBlue;
            border-radius: 15px;
            padding: 2rem 3rem;
            font-family: monospace;
            font-size: 15px;
            font-weight: 500;

            @include breakpoint-up(large){
                padding: 2rem 4.5rem;
             }
 

            .work{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include breakpoint-up(large){
                    margin-bottom:20px;
                }
                


                > div:first-child{
                    font-size: 20px;
                    font-weight: bolder;
                    margin-left: -35px;

                    @include breakpoint-up(large){
                        font-size: 15px;
                        font-weight:200;  
                    }
                }

                >div:last-child{
                    margin-right: -45px;
                }

            }

            .hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @include breakpoint-up(large){
                    display:inline;
                }
                

                >div:first-child{
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: -35px;
                }

                >div:last-child{
                    margin-right: -45px;
                    color:$PaleBlue;

                    @include breakpoint-up(large){
                       font-size:10px;
                       margin-left:-35px;
                       margin-top:10px;
                    }
                
                    
                }

            }

        }
         
     }
     
     &__card6{

        margin-top: 20px;
        background:$softOrange;
        border-radius: 17px;


        @include breakpoint-up(large){
            grid-area:card6;
        }
 
         
         .image{
             
             background-image: url(/images/icon-self-care.svg);
             height:2.7125rem;
             background-repeat: no-repeat;
             background-position: left 93% bottom -1.5rem;

             @include breakpoint-up(large){
                height:2.1125rem;
            }
 
         }
        
         
         .detail{
            background: $darkBlue;
            border-radius: 15px;
            padding: 2rem 3rem;
            font-family: monospace;
            font-size: 15px;
            font-weight: 500;

            @include breakpoint-up(large){
                padding: 2rem 4.5rem;
             }
 

            .work{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include breakpoint-up(large){
                    margin-bottom:20px;
                }
                

                > div:first-child{
                    font-size: 17px;
                    font-weight: bolder;
                    margin-left: -45px;

                    @include breakpoint-up(large){
                        font-size: 15px;
                        font-weight:200;  
                    }
                }

                >div:last-child{
                    margin-right: -65px;
                }

            }

            .hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @include breakpoint-up(large){
                    display:inline;
                }
                

                >div:first-child{
                    font-size: 25px;
                    font-weight: 400;
                    margin-left: -35px;
                }

                >div:last-child{
                    margin-right: -45px;
                    color:$PaleBlue;

                    @include breakpoint-up(large){
                       font-size:10px;
                       margin-left:-35px;
                       margin-top:10px;
                    }
                
                    
                }

            }

        }
     }

}