html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  color: #fff;
  background-color: #0f1424;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.container a {
  text-decoration: none;
  color: #bdc1ff;
}

.container .active {
  color: #fff;
}

.section {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .section .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: 'profile profile' 'card1 card2' 'card3 card4' 'card5 card6';
    grid-gap: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .section .container {
    display: block;
  }
}

@media (min-width: 64em) {
  .section .container {
    padding: 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: 'profile card1 card2 card3 ' 'profile card4 card5 card6';
  }
}

.section__card {
  background: #1c1f4a;
  border-radius: 30px;
}

@media (max-width: 63.9375em) {
  .section__card {
    grid-area: profile;
  }
}

@media (min-width: 64em) {
  .section__card {
    grid-area: profile;
    margin-top: 20px;
    border-radius: 10px;
  }
}

.section__card .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background: #5847eb;
  border-radius: 20px;
}

@media (min-width: 64em) {
  .section__card .detail {
    padding: 4rem 2.7rem;
    display: block;
  }
}

@media (max-width: 63.9375em) {
  .section__card .detail {
    padding: 1.5rem 1rem;
  }
}

.section__card .detail > div {
  margin-right: 20px;
}

.section__card .detail .image {
  border: 3px #fff solid;
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

@media (min-width: 64em) {
  .section__card .detail .image {
    width: 60%;
  }
}

.section__card .detail .info {
  color: #fff;
  font-family: monospace;
  margin-left: 20px;
}

@media (min-width: 64em) {
  .section__card .detail .info {
    margin-left: 0;
    margin-top: 10px;
  }
}

.section__card .detail .info > div:first-child {
  color: #bdc1ff;
  font-size: 12px;
  margin-bottom: 7px;
}

@media (min-width: 64em) {
  .section__card .detail .info > div:first-child {
    font-size: 12px;
  }
}

.section__card .detail .info > div:last-child {
  font-size: 17px;
}

@media (min-width: 64em) {
  .section__card .detail .info > div:last-child {
    font-size: 25px;
  }
}

.section__card .menu {
  padding: 1.55rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-family: monospace;
  font-size: 20px;
}

@media (min-width: 64em) {
  .section__card .menu {
    display: inline;
  }
}

.section__card .menu div {
  margin-left: 1rem;
}

@media (min-width: 64em) {
  .section__card .menu div {
    margin-top: 10px;
    font-size: 11px;
  }
}

.section__card .menu > div:first-child {
  color: #bdc1ff;
}

.section__card .menu > div:nth-child(2) {
  color: #fff;
}

.section__card .menu > div:last-child {
  color: #bdc1ff;
}

.section__card1 {
  margin-top: 20px;
  background: #ff8c66;
  border-radius: 17px;
}

@media (min-width: 40em) {
  .section__card1 {
    grid-area: card1;
  }
}

@media (min-width: 64em) {
  .section__card1 {
    grid-area: card1;
  }
}

.section__card1 .image {
  background-image: url(/images/icon-work.svg);
  height: 2.8125rem;
  background-repeat: no-repeat;
  background-position: left 93% bottom -1.5rem;
}

@media (min-width: 64em) {
  .section__card1 .image {
    height: 2.1125rem;
  }
}

.section__card1 .detail {
  background: #1c1f4a;
  border-radius: 15px;
  padding: 2rem 3.5rem;
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
}

@media (min-width: 64em) {
  .section__card1 .detail {
    padding: 2rem 5.4rem;
  }
}

.section__card1 .detail .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section__card1 .detail .work {
    margin-bottom: 20px;
  }
}

.section__card1 .detail .work > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-left: -35px;
}

@media (min-width: 64em) {
  .section__card1 .detail .work > div:first-child {
    font-size: 15px;
    font-weight: 200;
  }
}

.section__card1 .detail .work > div:last-child {
  margin-right: -45px;
}

.section__card1 .detail .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media (min-width: 64em) {
  .section__card1 .detail .hours {
    display: inline;
  }
}

.section__card1 .detail .hours > div:first-child {
  font-size: 25px;
  font-weight: 400;
  margin-left: -35px;
}

.section__card1 .detail .hours > div:last-child {
  margin-right: -45px;
  color: #bdc1ff;
}

@media (min-width: 64em) {
  .section__card1 .detail .hours > div:last-child {
    font-size: 10px;
    margin-left: -35px;
    margin-top: 10px;
  }
}

.section__card2 {
  margin-top: 20px;
  background: #56c2e6;
  border-radius: 17px;
}

@media (max-width: 63.9375em) {
  .section__card2 {
    grid-area: card2;
  }
}

@media (min-width: 64em) {
  .section__card2 {
    grid-area: card2;
  }
}

.section__card2 .image {
  background-image: url(/images/icon-play.svg);
  height: 2.8125rem;
  background-repeat: no-repeat;
  background-position: left 93% bottom -1.5rem;
}

@media (min-width: 64em) {
  .section__card2 .image {
    height: 2.1125rem;
  }
}

.section__card2 .detail {
  background: #1c1f4a;
  border-radius: 15px;
  padding: 2rem 3.5rem;
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
}

@media (min-width: 64em) {
  .section__card2 .detail {
    padding: 1.9rem 4.5rem;
  }
}

.section__card2 .detail .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section__card2 .detail .work {
    margin-bottom: 20px;
  }
}

.section__card2 .detail .work > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-left: -35px;
}

@media (min-width: 64em) {
  .section__card2 .detail .work > div:first-child {
    font-size: 15px;
    font-weight: 200;
  }
}

.section__card2 .detail .work > div:last-child {
  margin-right: -45px;
}

.section__card2 .detail .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media (min-width: 64em) {
  .section__card2 .detail .hours {
    display: inline;
  }
}

.section__card2 .detail .hours > div:first-child {
  font-size: 25px;
  font-weight: 400;
  margin-left: -35px;
}

.section__card2 .detail .hours > div:last-child {
  margin-right: -45px;
  color: #bdc1ff;
}

@media (min-width: 64em) {
  .section__card2 .detail .hours > div:last-child {
    font-size: 10px;
    margin-left: -30px;
    margin-top: 10px;
  }
}

.section__card3 {
  margin-top: 20px;
  background: #ff5c7c;
  border-radius: 17px;
}

@media (max-width: 63.9375em) {
  .section__card3 {
    grid-area: card3;
  }
}

@media (min-width: 64em) {
  .section__card3 {
    grid-area: card3;
  }
}

.section__card3 .image {
  background-image: url(/images/icon-study.svg);
  height: 2.8125rem;
  background-repeat: no-repeat;
  background-position: left 93% bottom -1.5rem;
}

@media (min-width: 64em) {
  .section__card3 .image {
    height: 2.1125rem;
  }
}

.section__card3 .detail {
  background: #1c1f4a;
  border-radius: 15px;
  padding: 2rem 3.5rem;
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 63.9375em) {
  .section__card3 .detail {
    padding: 2.2rem 3.5rem;
  }
}

.section__card3 .detail .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section__card3 .detail .work {
    margin-bottom: 20px;
  }
}

.section__card3 .detail .work > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-left: -35px;
}

@media (min-width: 64em) {
  .section__card3 .detail .work > div:first-child {
    font-size: 15px;
    font-weight: 200;
  }
}

.section__card3 .detail .work > div:last-child {
  margin-right: -45px;
}

.section__card3 .detail .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media (min-width: 64em) {
  .section__card3 .detail .hours {
    display: inline;
  }
}

.section__card3 .detail .hours > div:first-child {
  font-size: 25px;
  font-weight: 400;
  margin-left: -35px;
}

.section__card3 .detail .hours > div:last-child {
  margin-right: -45px;
  color: #bdc1ff;
}

@media (min-width: 64em) {
  .section__card3 .detail .hours > div:last-child {
    font-size: 10px;
    margin-left: -35px;
    margin-top: 10px;
  }
}

.section__card4 {
  margin-top: 20px;
  background: #4acf81;
  border-radius: 17px;
}

@media (max-width: 63.9375em) {
  .section__card4 {
    grid-area: card4;
  }
}

@media (min-width: 64em) {
  .section__card4 {
    grid-area: card4;
  }
}

.section__card4 .image {
  background-image: url(/images/icon-exercise.svg);
  height: 2.7125rem;
  background-repeat: no-repeat;
  background-position: left 93% bottom -0.65rem;
}

@media (min-width: 64em) {
  .section__card4 .image {
    height: 2.1125rem;
  }
}

.section__card4 .detail {
  background: #1c1f4a;
  border-radius: 15px;
  padding: 2rem 3.5rem;
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 63.9375em) {
  .section__card4 .detail {
    padding: 2.2rem 3.5rem;
  }
}

.section__card4 .detail .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section__card4 .detail .work {
    margin-bottom: 20px;
  }
}

.section__card4 .detail .work > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-left: -35px;
}

@media (min-width: 64em) {
  .section__card4 .detail .work > div:first-child {
    font-size: 15px;
    font-weight: 200;
  }
}

.section__card4 .detail .work > div:last-child {
  margin-right: -45px;
}

.section__card4 .detail .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media (min-width: 64em) {
  .section__card4 .detail .hours {
    display: inline;
  }
}

.section__card4 .detail .hours > div:first-child {
  font-size: 25px;
  font-weight: 400;
  margin-left: -35px;
}

.section__card4 .detail .hours > div:last-child {
  margin-right: -45px;
  color: #bdc1ff;
}

@media (min-width: 64em) {
  .section__card4 .detail .hours > div:last-child {
    font-size: 10px;
    margin-left: -35px;
    margin-top: 10px;
  }
}

.section__card5 {
  margin-top: 20px;
  background: #7536d3;
  border-radius: 17px;
}

@media (min-width: 40em) {
  .section__card5 {
    grid-area: card5;
  }
}

@media (min-width: 64em) {
  .section__card5 {
    grid-area: card5;
  }
}

.section__card5 .image {
  background-image: url(/images/icon-social.svg);
  height: 2.7125rem;
  background-repeat: no-repeat;
  background-position: left 93% bottom -1.5rem;
}

@media (min-width: 64em) {
  .section__card5 .image {
    height: 2.1125rem;
  }
}

.section__card5 .detail {
  background: #1c1f4a;
  border-radius: 15px;
  padding: 2rem 3.5rem;
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
}

.section__card5 .detail .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section__card5 .detail .work {
    margin-bottom: 20px;
  }
}

.section__card5 .detail .work > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-left: -35px;
}

@media (min-width: 64em) {
  .section__card5 .detail .work > div:first-child {
    font-size: 15px;
    font-weight: 200;
  }
}

.section__card5 .detail .work > div:last-child {
  margin-right: -45px;
}

.section__card5 .detail .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media (min-width: 64em) {
  .section__card5 .detail .hours {
    display: inline;
  }
}

.section__card5 .detail .hours > div:first-child {
  font-size: 25px;
  font-weight: 400;
  margin-left: -35px;
}

.section__card5 .detail .hours > div:last-child {
  margin-right: -45px;
  color: #bdc1ff;
}

@media (min-width: 64em) {
  .section__card5 .detail .hours > div:last-child {
    font-size: 10px;
    margin-left: -35px;
    margin-top: 10px;
  }
}

.section__card6 {
  margin-top: 20px;
  background: #f1c65b;
  border-radius: 17px;
}

@media (min-width: 40em) {
  .section__card6 {
    grid-area: card6;
  }
}

@media (min-width: 64em) {
  .section__card6 {
    grid-area: card6;
  }
}

.section__card6 .image {
  background-image: url(/images/icon-self-care.svg);
  height: 2.7125rem;
  background-repeat: no-repeat;
  background-position: left 93% bottom -1.5rem;
}

@media (min-width: 64em) {
  .section__card6 .image {
    height: 2.1125rem;
  }
}

.section__card6 .detail {
  background: #1c1f4a;
  border-radius: 15px;
  padding: 2rem 3.5rem;
  font-family: monospace;
  font-size: 13px;
  font-weight: 500;
}

@media (min-width: 64em) {
  .section__card6 .detail {
    padding: 2rem 5.4rem;
  }
}

.section__card6 .detail .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section__card6 .detail .work {
    margin-bottom: 20px;
  }
}

.section__card6 .detail .work > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-left: -45px;
}

@media (min-width: 64em) {
  .section__card6 .detail .work > div:first-child {
    font-size: 15px;
    font-weight: 200;
  }
}

.section__card6 .detail .work > div:last-child {
  margin-right: -45px;
}

.section__card6 .detail .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media (min-width: 64em) {
  .section__card6 .detail .hours {
    display: inline;
  }
}

.section__card6 .detail .hours > div:first-child {
  font-size: 25px;
  font-weight: 400;
  margin-left: -35px;
}

.section__card6 .detail .hours > div:last-child {
  margin-right: -45px;
  color: #bdc1ff;
}

@media (min-width: 64em) {
  .section__card6 .detail .hours > div:last-child {
    font-size: 10px;
    margin-left: -35px;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */